main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    width: 375px;
    height: 375px;
    border: 2px solid black;
}

.board div {
    width: 120px;
    height: 120px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.createNewGame {
    display: flex;
    flex-direction: column;
}